In [1]:
# Importing of the libraries
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

# Question 12

In [3]:
# Split into train and test
train = df[['T2']]
test = df['T6']

In [4]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(train, test,
test_size= 0.3 , random_state= 42 )


from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(x_train, y_train)
predicted_values = model.predict(x_test)

In [5]:
# To get the r_2 score

from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)

In [6]:
r2_score.round(2)

0.64

# Question 13

In [7]:
x = df.drop(['date', 'lights'], axis = 1)

In [8]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_transform = pd.DataFrame(scaler.fit_transform(x), columns= x.columns)
df1 = df_transform.drop('Appliances', axis =1)
y = df_transform['Appliances']

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df1, y,
test_size= 0.3 , random_state= 42 )

In [10]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(x_train, y_train)
predicted_values = model.predict(x_test)

In [11]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)

In [12]:
# To get the mae score
mae.round(3)

0.05

# Question 14

In [13]:
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))

# now to get the rss score
round(rss, 2 )

45.35

# Question15

In [14]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, predicted_values)
rmse = np.sqrt(mse)

In [15]:
# To get the rmse score
rmse.round(3)

0.088

# Question 16

In [16]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)

In [17]:
# To get the r2_score
r2_score.round(2)

0.15

# Question 18

In [18]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha = 0.4)
ridge_reg.fit(x_train, y_train)
predicted_values = ridge_reg.predict(x_test)


from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, predicted_values)
rmse = np.sqrt(mse)

In [19]:
# To get the rmse score
rmse.round(3)

0.088

# Question 20

In [20]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha= 0.001)
lasso_reg.fit(x_train, y_train)
predicted_values = lasso_reg.predict(x_test)


from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, predicted_values)
rmse = np.sqrt(mse)

In [21]:
# To get the rmse score
rmse.round(3)

0.094

# Question 17

In [22]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha= 0.001 )
lasso_reg.fit(x_train, y_train)


def obtain_weight(model, feat, col_name) :
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features' , col_name]
    weights_df[col_name].round( 3 )
    return weights_df

In [23]:
linear_reg_weights = obtain_weight(model, x_train, 'Linear_Model_Weight' )
ridge_weights = obtain_weight(ridge_reg, x_train, 'Ridge_Weight' )
lasso_weights = obtain_weight(lasso_reg, x_train, 'Lasso_weight' )

In [24]:
lasso_weights

       Features  Lasso_weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

In [25]:
ridge_weights

       Features  Ridge_Weight
0          RH_2     -0.411071
1         T_out     -0.262172
2            T2     -0.201397
3            T9     -0.188916
4          RH_8     -0.156830
5        RH_out     -0.054724
6          RH_7     -0.045977
7          RH_9     -0.041367
8            T5     -0.019853
9            T1     -0.018406
10          rv1      0.000748
11          rv2      0.000748
12  Press_mm_hg      0.006584
13           T7      0.010098
14   Visibility      0.012076
15         RH_5      0.016152
16         RH_4      0.024579
17           T4      0.027384
18    Windspeed      0.030268
19         RH_6      0.035519
20    Tdewpoint      0.083128
21         RH_3      0.095135
22           T8      0.101028
23           T6      0.217292
24           T3      0.288087
25         RH_1      0.519525

In [26]:
linear_reg_weights

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

In [27]:
# The minimum value
minimum = linear_reg_weights.iloc[0]
minimum

Features                   RH_2
Linear_Model_Weight   -0.456698
Name: 0, dtype: object

In [28]:
# The maximum value
maximum = linear_reg_weights.iloc[-1]
maximum

Features                   RH_1
Linear_Model_Weight    0.553547
Name: 25, dtype: object

In [29]:
#To get the lowest and highest weights
f"minimum : {minimum[0]}, maximum : {maximum[0]}"

'minimum : RH_2, maximum : RH_1'